# Nextflow specific
.nextflow/
.nextflow.log*
work/
# results/ # (uncomment if you want to ignore the results directory)
.DS_Store

# Editor specific
.vscode/
.idea/


# Log files
*.out
*.err
*.log.*
*.out.*
*.log

# Temporary files and directories
*.tmp
*.temp
tmp/
temp/

# Large files (Use only gzipped files for large files...... else these file formats will be ignored)
*.fastq
*.fq
*.bam
*.sam
*.vcf
